@media only screen and (max-width: 1680px) { /* MacBook Pro 13-inch */
    .headerButton {
        margin-left: 4%; 
    }

    .statistics p:first-of-type {
        margin-top: 80px; 
    }
}

/* from big tablets to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
    .section-about, .section-instructions, .section-further, .section-bestOfIt, 
    footnote {
        padding: 0px 20px; 
    }

    .section2and3 .donateButton {
        width: 25%;
        text-align: center;  
    }
}

@media only screen and (max-width: 1150px) { /* iPad Landscape */
    .main-nav li {
        margin-left: 5px; 
    }

    .section2and3 .donateButton {
        width: 27%; 
        text-align: center; 
    }

    .selectOptions {
        font-size: 15px; 
    }

    .foodDonations .icon-b {
        margin-top: 26px; 
        margin-left: 23px; 
    }

    .inputBox {
        margin-top: 30px; 
        margin-left: 3px; 
    }

    .donationStep p {
        padding-left: 100px; 
    }

    .instructions ul {
        line-height: 35px; 
    }

    .graphics img {
        width: 100px; 
    }

    .graphics img:nth-child(2) {
        margin-top: 58px; 
    }

    .graphics img:last-of-type {
        margin-top: 37px; 
    }

    .statistics p:first-of-type {
        margin-top: 55px;   
    }

    .emphasize {
        font-size: 35px; 
    }

    .firstStep {
        margin-top: 4%; 
    }

    .firstStep img {
        margin-left: 10%; 
    }

    .secondStep img {
        margin-left: 10%; 
    }

    .secondStep {
        margin-right: 2.5%;
    }

}

@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 35px; 
        left: 20px;  
        top: 150px;
        width: 40%;  
    }

    .section2and3 .donateButton {
        width: 35%;
        text-align: center;  
    }

    .section-about img {
        width: 350px; 
    }
}

@media only screen and (max-width: 870px) { /* iPad Portrait? */
    header {
        height: 100vh; 
    }
    
    .main-nav li {
        font-size: 80%;
    }

    .main-saying {
        width: 100%; 
    }

    h1 { 
        width: 100%; 
        font-size: 35px; 
    }

    .graphics img {
        width: 190px; 
    }

    .graphics img:nth-child(2) {
        margin-top: 62px; 
    }

    .graphics img:last-of-type {
        margin-top: 19px; 
        margin-left: 6%; 
    }

    .headerButton {
        margin-left: 40%; 
    }

    .statistics {
        width: 100%; 
    }

    .emphasize {
        font-size: 50px; 
    }

    .statistics p {
        font-size: 20px; 
    }

    .instructions ul {
        line-height: 35px;
    }

    .section-about img {
        width: 350px; 
    }

    .section2and3 .donateButton {
        width: 36%;
        margin-bottom: 20px;
        text-align: center; 
    }

    .donationActions {
        margin-left: 15%; 
        margin-bottom: 30px;
    }

    .map {
        margin-left: 1%;
        width: 99%;
        margin-bottom: 5px;
            
    }

    .instructions {
        width: 100%;
    }

    .table {
        width: 99%; 
        height: 200px;
        margin-top: 0px;
           
    }

    .section-instructions .donateButton {
        margin-left: 1%; 
    }

    .foodDonations .icon-b {
        margin-top: 35px; 
        margin-left: 23px;
        font-size: 35px;  
    }

    .inputBox {
        margin-top: 34px; 
        margin-left: 3px;
        padding-right: 40px;  
    }

    .firstStep {
        margin-top: 3.5%; 
    }

    .firstStep img {
        margin-left: 0%; 
    }

    .secondStep img {
        margin-left: 0%; 
    }

    .secondStep {
        margin-right: 2.5%;
    }

}

@media only screen and (max-width: 815px) { /* iPhone XR Landscape */
    .main-nav li {
        font-size: 80%; 
    }

    h1 {
        font-size: 35px; 
        width: 90%;  
    }

    header {
        height: 200vh; 
    }

    .graphics img {
        width: 160px;
        margin-top: 10px;  
    }

    .graphics img:nth-child(2) {
        margin-top: 55px;
    }

    .graphics img:last-of-type {
        margin-top: 18px; 
    }

    .statistics p {
        font-size: 15px;
        margin-top: 20px;  
    }

    .statistics p:first-of-type {
        margin-top: 45px; 
    }

    .emphasize {
        font-size: 35px; 
    }

}

@media only screen and (max-width: 770px) { /* iPad Portrait */
    
    header {
        height: 100vh; 
    }
    
    .main-nav li {
        font-size: 80%;
    }

    .main-saying {
        width: 100%; 
    }

    h1 { 
        width: 100%; 
        font-size: 35px; 
    }

    .graphics img {
        width: 190px; 
    }

    .graphics img:nth-child(2) {
        margin-top: 62px; 
    }

    .graphics img:last-of-type {
        margin-top: 19px; 
        margin-left: 6%; 
    }

    .headerButton {
        margin-left: 40%; 
    }

    .statistics {
        width: 100%; 
    }

    .emphasize {
        font-size: 50px; 
    }

    .statistics p {
        font-size: 20px; 
    }

    .instructions ul {
        line-height: 35px;
    }

    .section2and3 .donateButton {
        width: 48%;
        text-align: center;  
    }

    .steps img {
        width: 100%; 
        display: block; 
    }

    .steps p {
        font-size: 15px; 
    }
}

@media only screen and (max-width: 750px) { /* iPhone 6s+ --> iPhone 8+ Landscape */
    .main-nav li {
        font-size: 80%; 
    }

    header {
        height: 200vh; 
    }

    .graphics img {
        width: 160px;
        margin-top: 10px;  
    }

    .graphics img:nth-child(2) {
        margin-top: 55px;
    }

    .graphics img:last-of-type {
        margin-top: 18px; 
    }

    .statistics p {
        font-size: 15px;
        margin-top: 20px;  
    }

    .statistics p:first-of-type {
        margin-top: 45px; 
    }

    .emphasize {
        font-size: 35px; 
    }
}

@media only screen and (max-width: 712px) { /* iPhone XR Portrait */
    html {
        width: 100%; 
    }
    
    .logo {
        height: 50px;
        margin-top: 25px;
    }
    
    .main-nav {
        display: none; 
    }
    
    .dropdown {
        display: block; 
    }

    h1 {
        font-size: 55px; 
    }

    .graphics img {
        width: 100px; 
    }

    .section-about img, .section-about .emergency p {
        display: none; 
    }
    
    .section-instructions .donateButton {
        width: 25%;
        margin-bottom: 30px;
    }

    .map {
        margin-top: 10px; 
    }

}

@media only screen and (max-width: 685px) {
    
    .section2and3 .donateButton {
        width: 45%; 
        text-align: center; 
    }

    h1 {
        font-size: 28px; 
    }

    .graphics img:nth-child(2) {
        margin-top: 38px; 
    }

    .graphics img:last-of-type {
        margin-top: 17px; 
    }

    header {
        height: 100vh; 
    }

    .headerButton {
        margin-left: 38%; 
    }

    .section2and3 {
        width: 100%; 
    }

    .section2and3 .donateButton {
        width: 30%; 
    }

    .section-about img, .section-about .emergency p {
        display: none;    
    }

    .inputBox {
        width: 50%; 
    }

    
}

@media only screen and (max-width: 480px) { /* iPhone XR Portrait? */
    
    header {
        height: 105vh; 
    }
    
    h1 {
        font-size: 30px;  
        width: 100%;
    }

    .graphics img {
        width: 100px; 
    }

    .graphics img:nth-child(2) {
        margin-top: 38px; 
    }

    .headerButton {
        margin-left: 4%; 
    }

    .graphics img:last-of-type {
        margin-top: 17px; 
    }

    .section2and3 .donateButton {
        width: 37%; 
        text-align: center; 
    }

    .emphasize {
        font-size: 30px; 
    }

    .statistics p {
        font-size: 15px; 
    }
    
    .section-instructions .donateButton {
        width: 25%;
        margin-bottom: 30px;
    }

    .donationActions {
        margin-left: 0px; 
    }

    .map {
        margin-top: 10px; 
    }

    .inputBox {
        width: 50%;
        padding-right: 8px;  
    }

}
